cornerScroller!

<div ng-controller="sliderCtrl" class="col-left">

    <!-- slider container -->
    <div class="container-slider slider " style="background-color: {{selected}}">

        <!-- enumerate all photos -->
        <div ng-repeat="photo in photos" class="centeredItem">
            <img class="slide" 
                 ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" 
                 ng-src="{{ photo.imgUrl}}"/>
        </div>

    </div>
<div class="wrap">
        <!-- extra navigation controls -->
        <ul class="nav ">
            <li ng-repeat="photo in photos"  ng-class="{'active':isActive($index)}" >
                <img src="{{photo.imgUrl}}" alt="{{photo.city}}" title="{{photo.city}}" ng-click="showPhoto($index)" />
            </li>
        </ul>

        <!-- prev / next controls -->
        <a class="arrow prev" href="" ng-click="showPrev()">showPrev</a>
        <a class="arrow next" href="" ng-click="showNext()">showNext</a>
</div>
 
    <div class="col-right">
        <span>
            <ng-color-picker selected="selected"></ng-color-picker>    
            <input type="text" ng-model="selected" />
        </span>
    </div>
    <button ng-click="switchtoPosters()">switch to Posters</button>
    <button ng-click="play(1500)">play</button>
    <button ng-click="stop()">stop</button>

<!--    <p ng-class="{strike: deleted, bold: important, red: error}">Map Syntax Example</p>
    <input type="checkbox" ng-model="deleted"> deleted (apply "strike" class)<br>
    <input type="checkbox" ng-model="important"> important (apply "bold" class)<br>
    <input type="checkbox" ng-model="error"> error (apply "red" class)
    <hr>-->
</div>





